{% extends 'base.html' %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container mb-4 mb-sm-5 pt-5">
        <h2 class="to-center">О нас</h2>
        <p>
            <b>Компания ООО «ФРУТ ГРУПП»</b> — один из ведущих российских поставщиков свежих
            овощей и фруктов для сегмента HoReCa, Retail и Cash & Сarry. Мы предоставляем
            широкий ассортимент агропродукции для магазинов, ресторанов и крупных оптовых покупателей.
        </p>
        <p>
            Наши клиенты могут быть уверены в стабильности поставок продукции даже в тяжелые моменты
            политического дисбаланса и общего кризиса в мировом рынке. Благодаря такому подходу партнеры
            нашей компании ежедневно увеличивают свой оборот и прибыль.
        </p>
        <h5>Что мы предлагаем?</h5>
        <ul>
            <li>Широкий ассортимент продукции</li>
            <li>Высокое качество товара</li>
            <li>Наличие всех сопроводительных документов</li>
            <li>Гибкие условия работы</li>
        </ul>
        <p>
            <b>Главные принципы работы компании</b> – это непрерывное развитие. Благодаря этому мы достигли
            максимально комфортных условий для наших клиентов:
        </p>
        <ul>
            <li>Четкой и отлаженной организация работы с клиентами, без накладок и ошибок любого уровня</li>
            <li>Высоких требований к уровню обслуживания, т.к. у каждого клиента есть личный менеджер</li>
            <li>Индивидуального подхода к каждому клиенту, ведь все они очень разные.</li>
        </ul>
        <h5>Почему стоит обраться именно к нам?</h5>
        <ul>
            <li>Поставки 24 часа в сутки, 7 дней в неделю по всей России</li>
            <li>10 лет успешной реализации самых сложных проектов</li>
            <li>Гибкая система ценообразования и доступные цены для всех</li>
            <li>Квалифицированные специалисты, имеющие опыт управления проектами в крупнейших российских компаниях</li>
            <li>Проверка качества продукции на всех уровнях</li>
            <li>Наличие сертификатов и деклараций на всю производимую продукцию</li>
        </ul>
        <p>
            Наша компания стремиться во всем быть лидером, именно поэтому мы постоянно расширяем свой
            ассортимент и оптимизируем затраты. Именно такая стратегия работы обеспечивает выгодные цены
            для наших партнеров.
        </p>
        <p>
            Клиенты компании всегда могут быть уверены в наличии продукции. Мы разработали систему, которая
            позволяет ежедневно оповещать партнеров о наличии продукции на складе. При старте работы наши
            специалисты учитывают все особенности и объемы поставок для каждого нового партнера. Текущие
            клиенты ежедневно могут получить информацию о наличии продукции в любом удобном мессенджере,
            ведь прайс-лист обновляется нами ежедневно.
        </p>
        <p>
            Качество нашей продукции – залог успеха. Мы не решились доверить этот вопрос кому либо и
            поэтому сами являемся производителями сельскохозяйственной продукции, а именно:
        </p>
        <ul>
            <li>Салатная группа (Айсберг, Романо, Фризе, Лоло-Россо, Лоло-Бтонда, Радичио)</li>
            <li>Кабачки</li>
            <li>Цукини</li>
            <li>Капусту брокколи</li>
        </ul>
        <p>
            Мы знаем, как бережно Вы относитесь к своему бизнесу и качеству приобретаемых продуктов, именно
            поэтому предусмотрели возможность проверки и обзора закупаемого товара. Наш склад оборудован
            «дневным светом» что позволит клиенту оценить состояние продуктов и выбрать нужную степень
            зрелости. Для удобства посещения офис и склады компании находятся в непосредственной близости.
        </p>
        <p>
            Мы учли, что не у всех клиентов есть возможность забрать товар со склада самостоятельно и
            сформировали свой автопарк для бесперебойной доставки продукции до склада наших партеров.
        </p>
        <p>
            Особое внимание уделяем подготовки товара и формированию заказов. <br>
            Все что нужно сделать для заказа – заполнить спецификацию.
        </p>
        <h5>Что нам нужно знать для корректной сборки заказа:</h5>
        <ul>
            <li>Сорт</li>
            <li>Степень зрелости</li>
            <li>Объем комплектации (паллетный, коробочный, штучный подбор)</li>
            <li>Примечание по товару – особые отметки и пожелание наших партеров</li>
        </ul>
        <h5>Как мы обеспечиваем качество продуктов?</h5>
        <ul>
            <li>Склад компании отвечает всем требованием санитарно-гигиеническим нормам</li>
            <li>В складских терминалах установлены низкотемпературные холодильники, которые обеспечивают правильное и
                безопасное хранение овощей и фруктов</li>
            <li>Соблюдение товарного соседства – размещения продуктов питания основанный на своде
        санитарно-гигиенических правил</li>
            <li>Регулярная влажная уборка помещений</li>
        </ul>
        <p>
            У каждого клиенты есть персональный менеджер, который всегда готов помочь и ответить на все
            интересующие вопросы. Наша компания настроена на долгосрочное сотрудничество с каждым из
            клиентов.
        </p>
        <h5>Отдел закупок выполняет сразу несколько стратегических задач в компании:</h5>
        <ul>
            <li>Управление торговым ассортиментом и товарными потоками</li>
            <li>Регулярный сбор и оценку информации в целях определения наилучших источников поставок</li>
            <li>Реализацию ее логистической стратегии</li>
            <li></li>
        </ul>
        <p>
            Наша компания не только приглашает партнёров к себе для оценки качества продукции, но и
            осуществляются регулярные командировки для обсуждения качества предоставляемого товара,
            ассортимента и условий формированию заказов.
        </p>
        <p>
            Компания активно развивает сотрудничество с отечественными производителями, что позволяет
            лично убедиться в качестве еще на этапе формирования поставки. Регулярный сбор и оценка
            информации способствует определению наилучших источников закупок. Совместно с этим аналитические
            работы проводятся и среди наших зарубежных партеров (Иран, Турция, Китай, Египет). Мы нацелены
            на развитие сети поставщиков с целью обеспечения наших клиентов самой лучшей продукцией и
            широким ассортиментом.
        </p>
    </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static "js/cart.js" %}"></script>
    {#        <script type="application/javascript" src="{% static "js/cart_ajax.js" %}"></script>#}
{% endblock %}