{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %}FrutGroup{% endblock %}
{% block menu %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css'%}"/>
{% endblock %}
{% block content %}
    <div class="container category-navbar">
        <div class="horizontal-menu d-flex">
            <a class="to-main-btn" href="/"></a>
            <div class="horizontal-category d-flex justify-content-around align-items-center">
                {% for category in hor_categories %}
                    <a class="categories" href="{% url 'webapp:category' category.slug %}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <a class="cart" href="{% url 'webapp:cart' %}">
                <div class="count">{{ products_count }}</div>
            </a>
        </div>
    </div>
    <div class="categories-main-pic d-flex flex-column flex-md-row container mt-3">
        <div class="vertical-menu-container col-12 col-md-3 me-md-3 mb-2 mb-md-0">
            <div class="vertial-menu d-flex flex-column mt-2 mb-2 mt-md-3 mb-md-0">
                {% for category in ver_categories %}
                    <a class="categories btn d-none d-md-block" href="{% url 'webapp:category' category.slug %}">{{ category.name }}</a>
                {% endfor %}
                <a class="categories btn d-md-none" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Все категории
                </a>
                <div class="collapse d-md-none" id="collapseExample">
                    <div class="card card-body">
                        {% for category in ver_categories %}
                            <a class="categories btn d-block d-md-none" href="#">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-pic-div ms-md-3">
            {% if category.image %}
                <div class="main-pic col-12 col-md-9" style="background-image: url({{ category.image.url }} "></div>
            {% else %}
                <div class="main-pic col-12 col-md-9"></div>
            {% endif %}
        </div>
    </div>
    <div class="container mt-4 d-flex justify-content-center">
        {% for sub in category.children.all %}
            <a class="btn btn-success mx-3" href="{% url 'webapp:category' sub.slug %}">{{ sub }}</a>
        {% endfor %}
    </div>
    <div class="products-in-category container mt-4">
        <div class="row row-cols-2 row-cols-md-5 g-2 justify-content-center">
            {% for product in products %}

                <div class="card .h-100 d-flex flex-column" style="width: 18rem;">
                    <div class="foto-block">
                        <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="Фото товара">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.name }}</h5>
                        {% if product.discounted_price %}
                            <p class="card-price discount-old-price"><strike>{{ product.price }} руб.</strike></p>
                            <p class="card-price discount-new-price">{{ product.discounted_price }} руб.</p>
                        {% else %}
                            <p class="card-price">{{ product.price }} руб.</p>
                        {% endif %}
                        <div class="cart-item-quantity d-flex justify-content-center" id="product-quantity">
                            <div class="minus-quantity">
                                <button><i class="fas fa-minus" aria-hidden="true"></i></button>
                            </div>
                            <div class="quantity">1</div>
                            <div class="plus-quantity">
                                <button><i class="fas fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <button data="{{ product.pk }}" class="to-cart-btn btn btn-primary">В корзину</button>
                    </div>
                    {% if product.discount %}
                        <div class="discount-in-top">
                            -{{ product.discount }}%
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <ul>
        {% recursetree categories %}
            <li>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ node.slug }}" aria-expanded="false" aria-controls="collapseExample">
                    B
                </button>
                <a href="{% url 'webapp:category' node.slug %}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <div class="collapse" id="collapse-{{ node.slug }}">
                        <ul class="children">
                            <a href="{% url 'webapp:category' category.slug %}">{{ children }}</a>
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
{#    {% for category in categories %}#}
{#        {% if category.is_root_node %}#}
{#            {{ category.get_descendant_count }}#}
{#            {{ category.children.all }}#}
{#            <li>#}
{#                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseExample">#}
{#                    B#}
{#                </button>#}
{#                <a href="{% url 'webapp:category' category.slug %}">{{ category.name }}</a>#}
{##}
{#                {% if not category.is_leaf_node %}#}
{#                    <div class="collapse" id="collapse-{{ forloop.counter0 }}">#}
{#                        {% for sub in category.children.all %}#}
{#                            <ul class="children">#}
{#                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseExample">#}
{#                                    B#}
{#                                </button>#}
{#                                <a href="{% url 'webapp:category' sub.slug %}">{{ sub }}</a>#}
{#                            </ul>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </li>#}
{#        {% endif %}#}
{##}
{#    {% endfor %}#}

{#    {{ parents|tree_path:" > "  }}#}
{#    {{ parents }}#}
{% endblock %}
{% block scripts %}
    {#    <script type="application/javascript" src="{% static "js/main.js" %}"></script>#}
{% endblock %}